
.copyrights{
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}